<footer id="footer" class=" text-center text-white">

  <div class="container">
    <section class="mb-4 mt-3">

      <a class="btn btn-floating" href="https://www.instagram.com/cintia_infocus/" role="button" target="_blank">
        <img [src]="ImageInstagram" class="card-img-top react" alt="social" target="_blank">
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/cintiasilva7300/"
        role="button" target="_blank">
        <img [src]="ImageLinkedin" class="card-img-top react" alt="social">
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/cintiasilva7300" role="button"
        target="_blank">
        <img [src]="ImageTwitter" class="card-img-top react" alt="social">
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/CintiaSilva7300" role="button"
        target="_blank"><img [src]="ImageGitHub" class="card-img-top react" alt="social"></a>
    </section>
  </div>

  <div class="text-center p-5" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="">Cintia santos silva</a>
  </div>
</footer>
