.container {
  display: flex;
  margin-top: 30px;
  /* justify-content: start; */
}

.text {
  text-align: center;
  margin-top: 110px;
  color: white;
  font-weight: 900;
  font-size: 50px;
}

.card {
  margin-top: 5px;
  width: 150%;
  background-color: #a9a9a9;
  display: flex;
  text-align: center;
}

.bi {
  color: white;
  height: 30px;
  width: 20px;
}

.gmail {
  color: rgb(0, 0, 0);
  margin-left: 15px;
  font-style: oblique;
  font-weight: bolder;
  font-weight: 800;
  text-decoration: none;
}

.gmail:hover {
  cursor: not-allowed;
}

.linkedintext {
  color: rgb(0, 0, 0);
  margin-left: 15px;
  font-style: oblique;
  font-weight: bolder;
  font-weight: 800;
  text-decoration: none;
}

.githubtext {
  color: rgb(0, 0, 0);
  font-style: oblique;
  font-weight: bolder;
  font-weight: 800;
  text-decoration: none;
}

.githubtext:hover {
  cursor: pointer;
}

.row {
  color: white;
}

.card-body {
  height: 50px;
}

/* mobile */
@media screen and (max-width: 580px) {
  .text {
    margin-top: 90px;
    color: white;
    font-size: 25px;
    text-align: center;
  }
  .container{
    padding: 0px;
  }
  .card {
    width: 300px;
    margin-left: 48px;
    border-radius: 10px;
  }
  .card-body {
    display: flex;
  }
  .container{
    padding: 0px;
    width: 10px;
    margin: 0px;
  }
}
