<h1 class="tecnologia">Tecnologias</h1>
<div class="container">
<div class="imagens">

  <a href="https://github.com/CintiaSilva7300/" target="_blank">
    <img [src]="ImageBootstrap" class="card-img-top bootstrap" alt="tecnologia">
</a>

<a href="https://github.com/CintiaSilva7300/" target="_blank">
  <img [src]="Imagejavascript" class="card-img-top javascript"  alt="tecnologia">
</a>

<a href="https://github.com/CintiaSilva7300/" target="_blank">
<img [src]="Imagereact" class="card-img-top react" alt="tecnologia">
</a>

<a href="https://github.com/CintiaSilva7300/" target="_blank">
<img [src]="Imageangular" class="card-img-top angular" alt="tecnologia">
</a>
</div>
</div>
