<h1 class="text1">Projetos</h1>

<div class="container">
  <div>
    <a href="https://github.com/CintiaSilva7300/marketplace" target="_blank">
      <div class="card" style="width: 22rem;">
        <img [src]="ImagePath" class="card-img-top" alt="projetos">
      </div>
    </a>
  </div>

  <div>
    <a href="https://github.com/CintiaSilva7300/Ifood-clone" target="_blank">
      <div class="card" style="width: 22rem;">
        <img [src]="ImageIfood" class="card-img-top" alt="projetos">
      </div>
    </a>
  </div>

  <div>
    <a href="https://github.com/CintiaSilva7300/Cesta-de-frutas-ReactNative-" target="_blank">
      <div class="card" style="width: 22rem;">
        <img [src]="ImageAppcesta" class="card-img-top" alt="projetos">
      </div>
    </a>
  </div>
</div>
