<div class="container">
  <div class="row">
    <form method="POST" target="_blank" action="https://formsubmit.co/cintiasilva7300@gmail.com" method="POST">
      <input type="hidden" name="_captcha" value="false">
      <div class="input-field">
        <i class="material-icons prefix">perm_identity</i>
        <input type="text" name="nombre" placeholder="nome" required>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <input type="email" name="email" placeholder="email" required>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">mode_edit</i>
        <textarea name="mensagem" id="" rows="10" placeholder="mensagem" class="materialize-textarea" length="140"
          required></textarea>
      </div>

      <input type="hidden" name="_next" value="https://teal-narwhal-109cac.netlify.app/">
      <p class="center-align">
        <button class="waves-effect waves-light btn" type="submit"><i
            class="material-icons right">send</i>enviar</button>
      </p>
    </form>
  </div>
</div>
