<nav class="navbar container" style="width: 100%;">
  <div class="container-fluid">
    <a href="/">
    <span class="cintiaText d-flex">
        <p class="c">C</p>intia
      </span>
    </a>
    <div>
      <strong><a href="/">Inicio</a></strong>
      <!-- <strong><a href="">Sobre</a></strong> -->
      <strong><a href="/contato">Contato</a></strong>
      <strong><a href="/tecnologias">Tecnologias</a></strong>
      <strong><a href="projetos">Projetos</a></strong>
    </div>
  </div>
</nav>
