<nav class="navbar container" style="width: 100%;">
  <div class="container-fluid">
    <a href="/">
      <span class="cintiaText d-flex">
        <p class="c">C</p>intia
      </span>
    </a>
    <div>
      <strong><a href="/">Inicio</a></strong>
      <strong><a href="contato">Contato</a></strong>
      <strong><a href="tecnologias">Tecnologias</a></strong>
      <strong><a href="projetos">Projetos</a></strong>
    </div>
  </div>

  <!-- <div class="img">
    <div>
      <a href="" target="_blank">
        <img class="imagemSide" [src]="ImageTypescript" class="card-img-top node" alt="tecnologia">
      </a>
    </div>

    <div>
      <a href="" target="_blank">
        <img class="imagemSide" [src]="ImageInstagram" class="card-img-top node" alt="tecnologia">
      </a>
    </div>

    <div>
      <a href="contato">
        <img class="imagemSide" [src]="ImageGmail" class="card-img-top node" alt="tecnologia">
      </a>
    </div>

    <div>
      <a href="">
        <img class="imagemSide" [src]="ImageGit" class="card-img-top node" alt="tecnologia">
      </a>
    </div>
  </div> -->
</nav>
