/* You can add global styles to this file, and also import other style files */
html,body {
  font-family: sans-serif;
  background-color: #000000;
  color: #a9a9a9;
}

html, body, #wrap {height: 100%; }

#footer
{
  position: relative;
  clear:both;

}

body:before {
	content:"";
	height:100%;
	float:left;
}
