.container {
  margin-top: 110px;
}

.texth1 {
  font-size: 22px;
  font-weight: 800;
  font-weight: bolder;
  color: #a9a9a9;
  font-style: oblique;
}

.text2 {
  font-size: 40px;
  font-weight: 800;
  color: white;
}

.imagemGitHub {
  width: 270px;
  height: 270px;
  margin-left: 25%;
}

text {
  font-weight: 800;
  font-size: 50px;
  font-style: oblique;
}

.btn {
  margin-top: 50px;
  width: 300px;
  height: 50px;
  border-radius: 0px;
  color: black;
  font-weight: 600;
  background-color: #a9a9a9;
}

.btn:hover {
  color: black;
  background-color: #a9a9a9;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
cursor: grab;
}

// animation text
.animation{
  animation: glitch 1s linear infinite;
  font-size: 20px;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg);
  }
}

.animation:before,
.animation:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.animation:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg);
  }
}

.animation:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg);
  }
}
