<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="texth1">Olá, eu sou</h1>
      <h1 class="text2">Cintia dos santos</h1>
      <div class="animation" title="text">Desenvolvedora Front-End (web)</div>
      <a href="projetos">
        <button type="button" class="btn btn-light">Conheça meus projetos</button>
      </a>
    </div>

    <div class="col">
      <img class="imagemGitHub"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4b8XiddSOISex3ya0QCzVm7ikXcas1wld9u5UEjADDgyFSZsaeAmUJ1aGEfczpfZrB_M&usqp=CAU"
        alt="">
    </div>
    <!-- <div class="w-100"></div>
    <div class="col">Column</div>
    <div class="col">Column</div> -->
  </div>
</div>
