<div class="container">
  <div class="row">
    <div class="col">
      <div class="">
        <h1 class="texth1">Olá, eu sou</h1>
        <h1 class="text2">Cintia dos santos</h1>
        <svg viewBox="3 -0 1200 200" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
          <path id="path">
            <animate attributeName="d" from="m0,110 h0" to="m0,110 h1100" dur="4.8s" begin="0s"
              repeatCount="indefinite" />
          </path>
          <text font-size="36" fill='hsla(0, 0%, 50%)'>
            <textPath xlink:href="#path">Desenvolvedora Front-End (web)
            </textPath>
          </text>
        </svg>
      </div>
    </div>

    <div class="col">
      <img class="imagemGitHub"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4b8XiddSOISex3ya0QCzVm7ikXcas1wld9u5UEjADDgyFSZsaeAmUJ1aGEfczpfZrB_M&usqp=CAU"
        alt="">
    </div>
  </div>
  <a href="projetos">
    <button type="button" class="btn btn-light">Conheça meus projetos</button>
  </a>
</div>

